.center {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  margin-top: 15vh;
}
h1 {
  margin-bottom: 30px;
}
input, button {
  margin: 15px 0;
}
.alert {
  margin: 15px 0;
}
.g-recaptcha {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}